# Copie este arquivo para .env e preencha com valores reais
# cp .env.example .env

PORT=3000
DOMAIN=localhost:3000
JWT_SECRET=TROQUE_POR_UMA_CHAVE_SECRETA_FORTE
RPC_URL=https://ethereum-rpc.publicnode.com
TOKEN_ADDRESS=0x514910771AF9Ca656af840dff83E8264EcF986CA
MIN_BALANCE=1.0
